<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="alpinofc">
	<title>Buy Api Key</title>
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/core.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/alert.min.css">
	
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/owl.min.css">
  <link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/owl2.min.css">
	
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/icon.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/flag.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/style.min.css">
	  <link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/Style.css">
	<link rel="shortcut icon" href="https://f.top4top.io/p_19362mxxu0.jpg" />
</head>
<body>
<div class="main-wrapper">
	<nav class="sidebar">
		<div class="sidebar-header">
			<img src="https://f.top4top.io/p_19362mxxu0.jpg"width="50"height="50">
				Kangdev</span>
			</a>
			<div class="sidebar-toggler not-active">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="sidebar-body">
			<ul class="nav">
				<li class="nav-item">
				<a href="/" class="nav-link">
				<i class="link-icon" data-feather="box"></i>
				<span class="link-title">Home</span>
				</a>
				</li>
				<li class="nav-item">
				<a href="/buy" class="nav-link">
				<i class="link-icon" data-feather="dollar-sign"></i>
				<span class="link-title">Buy Apikey</span>
				</a>
				<li class="nav-item nav-category">Rest Api</li>
                    </li>
                    <li class="nav-item"><br>
					<a href="/sosial">
						<i class="link-icon" data-feather="download"></i>
						<span class="link-title">Sosial Media</span>
				</li>
				<li class="nav-item"></br>
					<a href="/islamic">
						<i class="link-icon" data-feather="book"></i>
						<span class="link-title">Islamic</span>
				</li>
				<li class="nav-item"><br>
					<a href="/asupan">
						<i class="link-icon" data-feather="git-commit"></i>
						<span class="link-title">Asupan +62</span>
						</li>
                    <li class="nav-item"><br>
					<a href="/images">
						<i class="link-icon" data-feather="image"></i>
						<span class="link-title">Random Images</span>
				</li>
				<li class="nav-item"></br>
					<a href="/sfw">
						<i class="link-icon" data-feather="wind"></i>
						<span class="link-title">Sfw</span>
						</li>
				<li class="nav-item"></br>
					<a href="/nsfw">
						<i class="link-icon" data-feather="wind"></i>
						<span class="link-title">Nsfw</span>
						</li>
						</li>
				<li class="nav-item"></br>
					<a href="/wibu">
						<i class="link-icon" data-feather="wind"></i>
						<span class="link-title">Wibu Api</span>
						</li>
				<li class="nav-item"></br>
					<a href="/school">
						<i class="link-icon" data-feather="book"></i>
						<span class="link-title">School</span>
				</li>
				<li class="nav-item"><br>
					<a href="/other">
						<i class="link-icon" data-feather="star"></i>
						<span class="link-title">Other</span>
						</li>
				<li class="nav-item"></br>
					<a href="/textpro">
						<i class="link-icon" data-feather="camera"></i>
						<span class="link-title">Text Pro Me</span>
						</li>
				<li class="nav-item"></br>
					<a href="/oxy">
						<i class="link-icon" data-feather="camera"></i>
						<span class="link-title">Photo Oxy</span>
						</li>
						<li class="nav-item"></br>
					<a href="/maker">
						<i class="link-icon" data-feather="image"></i>
						<span class="link-title">Photo Maker</span>
						</li>
				<li class="nav-item"></br>
					<a href="/random">
						<i class="link-icon" data-feather="star"></i>
						<span class="link-title">Random Api</span>
						</li>
				<li class="nav-item"></br>
					<a href="/search">
						<i class="link-icon" data-feather="search"></i>
						<span class="link-title">Search Api</span>
						</li>
				<li class="nav-item"></br>
					<a href="/serti">
						<i class="link-icon" data-feather="image"></i>
						<span class="link-title">Sertifikat Api</span>
						</li>
				<li class="nav-item"></br>
					<a href="/kuis">
						<i class="link-icon" data-feather="coffee"></i>
						<span class="link-title">kuis</span>
						</li>
				<li class="nav-item"></br>
					<a href="/news">
						<i class="link-icon" data-feather="info"></i>
						<span class="link-title">News Info</span>
						</li>
				<li class="nav-item"></br>
					<a href="/encript">
						<i class="link-icon" data-feather="star"></i>
						<span class="link-title">Encript & Decript</span>
						</li>
	</nav><div class="page-wrapper">
	<nav class="navbar">
		<a href="/price.html" class="sidebar-toggler">
			<i data-feather="menu"></i>
		</a>
		<div class="navbar-content">
			<ul class="navbar-nav">
					</a>
					<div class="dropdown-menu" aria-labelledby="appsDropdown">
						<div class="dropdown-header d-flex align-items-center justify-content-between">
							<p class="mb-0 font-weight-medium">
							</p>
						</div>
						<div class="dropdown-body">
							<div class="d-flex align-items-center apps">
							</p>
							</a>
							</p>
							</a>
							</p>
							</a>
							</div>
						</div>
						<div class="dropdown-footer d-flex align-items-center justify-content-center">
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>
<div class="page-content">
	<div class="row">
<div class="col-md-12 grid-margin">
<center>
			<div class="packages">
			<h1>.</h1>
			<h2 class="text1">Standar</h2>
			<h2 class="text2">Rp10.000</h2>
			<ul class="list">
			<li class="first">unlimited limit</li>
			<li>Custom Api Key</li>
			<li>Expired 1 bulan</li>
			</ul>
			<a href="https://wa.me/6285767354326?text=buy apikey Standar 10k/expired 1 bulan bang" class="button button3">Buy Now</a>
			</div>
			<br><br>
			<div class="packages">
			<h1> .</h1>
			<h2 class="text1">VIP</h2>
			<h2 class="text2">Rp15.000</h2>
			<ul class="list">
			<li class="first">Unlimited Limit</li>
			<li>Custom Api Key</li>
			<li>Expired 2 Bulan</li>
			</ul>
			<a href="https://wa.me/6285767354326?text=buy apikey VIP 15k/expired 2 bulan bang" class="button button2">Buy Now</a>
			</div>
			<br><br>
			<div class="packages">
			<h1>.</h1>
			<h2 class="text1">Premium</h2>
			<h2 class="text2">Rp30.000</h2>
			<ul class="list">
			<li class="first">Unlimited Limit</li>
			<li>Custom Api Key</li>
			<li>Expired 3 Bulan</li>
			</ul>
			<a href="https://wa.me/6285767354326?text=buy apikey premium 30k/expired 3 bulan bang" class="button button1">Buy Now</a>
			</div>
				
	
</div><footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
				<p class="text-muted text-center text-md-left">
					Copyright © 2021 <a href="https://wa.me/6285767354326" target="_blank">Kangdev</a>
				</p>
				</p>
			</footer>
		</div>
	</div>

	<script src="https://onlydevcity.xyz/ikygans/core.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/alert.js"></script>
	
	<script src="https://onlydevcity.xyz/ikygans/owl.js"></script>
	
	<script src="https://onlydevcity.xyz/ikygans/feather.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/template.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/script.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/checker.js"></script>
	</body>
</html>