<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Uangcepat Pinjaman Online Terpercaya</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <i class="fa fa-smile-beam fa-2x"></i>
                <div class="sidebar-brand-text mx-3">UangCepat</div>
            </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Pelayanan Customer
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://wa.me/6285362725883">
                    <i class="fab fa-fw fa-telegram-plane"></i>
                    <span>Whatsapp</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle fa-2x"></i>
                                <span class="ml-2 d-none d-lg-inline small font-weight-bold">Uangcepat</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="card h-40 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md-left font-weight-bold mb-2 text-primary">Ajukan Pinjaman Online Hanya Dengan KTP Proses Cepat Dan Terpercaya</div>
                                    <div class="card-body"><img src="https://i.top4top.io/p_1979qeurc0.jpg"width="260"height="270">
                                    </div>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Pinjaman Awal</div>
                                            <div class="h5 mb-0 font-weight-bold">Rp2.000.000</div>
                                        </div>
                                        <font size="2"> &nbsp;&nbsp;&nbsp;&nbsp;<br>•Biaya Administrasi : Rp200.000<br>Bayar Di Awal<br><br>•Tenor Pinjaman : 12 Bulan<br><br>•Cicilan : Rp190.000/Bulan<br><br>•Jumlah Yang Di Terima : Rp2.000.000</font>
                                        </div>
                                        <a href="https://paypal.me/LoLHuman" class="btn btn-primary btn-sm ml-2" target="_blank"></i>Ajukan Pinjaman</a>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Pinjaman Awal</div>
                                            <div class="h5 mb-0 font-weight-bold">Rp4.000.000</div>
                                        </div>
                                        <font size="2"> &nbsp;&nbsp;&nbsp;&nbsp;<br>•Biaya Administrasi : Rp400.000<br>Bayar Di Awal<br><br>•Tenor Pinjaman : 12 Bulan<br><br>•Cicilan : Rp370.000/Bulan<br><br>•Jumlah Yang Di Terima : Rp4.000.000</font>
                                        </div>
                                        <a href="https://paypal.me/LoLHuman" class="btn btn-primary btn-sm ml-2" target="_blank"></i>Ajukan Pinjaman</a>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- New User Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold mb-2 text-primary">Syarat Mengajukan Pinjaman</div>
                                            <font size="2"> &nbsp;&nbsp;&nbsp;&nbsp;<br>✓Usia 21 sampai 55 tahun<br><br>✓Warga Negara Indonesia<br><br>✓Memiliki KTP<br><br>✓Mempunyai pekerjaan atau penghasilan</font>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-shopping-cart fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold mb-2 text-primary">TESTIMONI NASABAH<div class="card-body"><img src="https://i.top4top.io/p_1979156vo0.jpg"width="100"height="100"><div _ngcontent-cyx-c12="" class="align-name"><span _ngcontent-cyx-c12="" class="testimony__description-section align-text__left"> Rahmawati, 41 tahun </span><p _ngcontent-cyx-c12="" class="align-text__left"><strong _ngcontent-cyx-c12="">Rp5.000.000</strong></p></div><hr _ngcontent-cyx-c12="" class="tnk-margin--x-small"><p _ngcontent-cyx-c12="" class="testimony__description-section tnk-margin-top--base align-text__center"> Pinjaman mudah, anak bisa sekolah dengan nyaman. </p></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold mb-2 text-primary"><div class="card-body"><img src="https://j.top4top.io/p_1979y3esq1.jpg"width="100"height="100"><div _ngcontent-cyx-c12="" class="align-name"><span _ngcontent-cyx-c12="" class="testimony__description-section align-text__left"> Faizal, 27 tahun </span><p _ngcontent-cyx-c12="" class="align-text__left"><strong _ngcontent-cyx-c12="">Rp2.000.000</strong></p></div><hr _ngcontent-cyx-c12="" class="tnk-margin--x-small"><p _ngcontent-cyx-c12="" class="testimony__description-section tnk-margin-top--base align-text__center"> Uangcepat memberikan kemudahan untuk memperoleh dana secara cepat, terutama saat dana darurat menipis dan asuransi sudah limit</p></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                       <div class="text-md-left font-weight-bold mb-2 text-primary"><div class="card-body"><img src="https://k.top4top.io/p_19797ta3t2.jpg"width="100"height="100"><div _ngcontent-cyx-c12="" class="align-name"><span _ngcontent-cyx-c12="" class="testimony__description-section align-text__left"> Indra, 29 tahun </span><p _ngcontent-cyx-c12="" class="align-text__left"><strong _ngcontent-cyx-c12="">Rp4.000.000</strong></p></div><hr _ngcontent-cyx-c12="" class="tnk-margin--x-small"><p _ngcontent-cyx-c12="" class="testimony__description-section tnk-margin-top--base align-text__center"> Pelayanannya sangatlah baik, keamanannya terjamin dan proses pencariannya juga sangatlah cepat,terimakasih uangcepat telah memberikan saya modal usaha.</p></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Row-->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Layanan Customer
                            <p>
                                <a href="https://wa.me/6285362725883" class="btn btn-primary btn-sm mr-2" target="_blank"></i>Whatsapp</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        © Copyright 2021<i class="fa fa-heart"></i> Uangcepat
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
</body>

</html>